In [23]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df = pd.read_csv("zillow_county_data.csv")

In [3]:
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,1/31/1996,...,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021
0,3101,0,Los Angeles County,County,CA,CA,Los Angeles-Long Beach-Anaheim,6,37,180117.0,...,675389,676740,681907,689445,697854,704702,711230,717096,722650,728703
1,139,1,Cook County,County,IL,IL,Chicago-Naperville-Elgin,17,31,155170.0,...,256071,256789,258126,259837,262280,264910,267224,269336,270973,273625
2,1090,2,Harris County,County,TX,TX,Houston-The Woodlands-Sugar Land,48,201,100775.0,...,204199,204923,205836,206945,208785,210556,212743,214886,217409,220051
3,2402,3,Maricopa County,County,AZ,AZ,Phoenix-Mesa-Scottsdale,4,13,115700.0,...,304743,307714,310657,314576,319269,324372,329853,335569,342202,348717
4,2841,4,San Diego County,County,CA,CA,San Diego-Carlsbad,6,73,182195.0,...,628566,631516,635497,641772,651044,661426,671730,682019,692547,702933

In [6]:
njdf = df.loc[df["State"]=="NJ"]

In [8]:
njdf.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,1/31/1996,...,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021
53,874,53,Bergen County,County,NJ,NJ,New York-Newark-Jersey City,34,3,217372.0,...,503727,506563,509441,512028,515704,520069,525457,531071,537371,542588
63,2802,63,Middlesex County,County,NJ,NJ,New York-Newark-Jersey City,34,23,161932.0,...,354509,355771,357400,361233,365259,369392,372199,374242,376150,379689
72,504,72,Essex County,County,NJ,NJ,New York-Newark-Jersey City,34,13,171010.0,...,422450,426052,428656,431997,436965,443354,449161,455808,461729,468367
93,1106,93,Hudson County,County,NJ,NJ,New York-Newark-Jersey City,34,17,151544.0,...,488523,490095,491655,494196,497586,501876,504750,508982,511535,514892
94,2441,94,Monmouth County,County,NJ,NJ,New York-Newark-Jersey City,34,25,184373.0,...,448948,451137,454390,459673,466365,474469,483399,491608,499215,507152

In [13]:
njdf.drop(columns = ['RegionID','SizeRank','RegionType','StateName','State','Metro','StateCodeFIPS','MunicipalCodeFIPS'],inplace = True)

C:\Users\ninam\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [14]:
njdf.head()

,RegionName,1/31/1996,2/29/1996,3/31/1996,4/30/1996,5/31/1996,6/30/1996,7/31/1996,8/31/1996,9/30/1996,...,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020,1/31/2021,2/28/2021
53,Bergen County,217372.0,216879.0,216519.0,215786.0,215181.0,214704.0,214346.0,214179.0,214131.0,...,503727,506563,509441,512028,515704,520069,525457,531071,537371,542588
63,Middlesex County,161932.0,161446.0,161171.0,160598.0,160242.0,159869.0,159646.0,159455.0,159407.0,...,354509,355771,357400,361233,365259,369392,372199,374242,376150,379689
72,Essex County,171010.0,170405.0,169943.0,168988.0,168298.0,167733.0,167360.0,167125.0,166892.0,...,422450,426052,428656,431997,436965,443354,449161,455808,461729,468367
93,Hudson County,151544.0,151161.0,151025.0,150627.0,150348.0,149908.0,149675.0,149579.0,149722.0,...,488523,490095,491655,494196,497586,501876,504750,508982,511535,514892
94,Monmouth County,184373.0,184071.0,183848.0,183472.0,183294.0,183225.0,183264.0,183501.0,183736.0,...,448948,451137,454390,459673,466365,474469,483399,491608,499215,507152

In [16]:
nj_data = njdf.set_index('RegionName').T

In [17]:
nj_data.head()

RegionName,Bergen County,Middlesex County,Essex County,Hudson County,Monmouth County,Ocean County,Union County,Camden County,Passaic County,Morris County,...,Mercer County,Somerset County,Gloucester County,Atlantic County,Cumberland County,Sussex County,Hunterdon County,Warren County,Cape May County,Salem County
1/31/1996,217372.0,161932.0,171010.0,151544.0,184373.0,135875.0,182432.0,106455.0,178889.0,225686.0,...,141998.0,209365.0,124395.0,109980.0,110197.0,135049.0,224553.0,161343.0,133083.0,NaN
2/29/1996,216879.0,161446.0,170405.0,151161.0,184071.0,135771.0,182039.0,106666.0,178389.0,225332.0,...,141645.0,208873.0,124155.0,109678.0,110237.0,134819.0,223793.0,161017.0,132777.0,NaN
3/31/1996,216519.0,161171.0,169943.0,151025.0,183848.0,135664.0,181689.0,106720.0,178030.0,225072.0,...,141432.0,208576.0,123992.0,109483.0,110211.0,134589.0,223314.0,160801.0,132559.0,NaN
4/30/1996,215786.0,160598.0,168988.0,150627.0,183472.0,135473.0,181080.0,106928.0,177387.0,224554.0,...,141063.0,207913.0,123663.0,109162.0,110219.0,134172.0,222290.0,160280.0,132081.0,NaN
5/31/1996,215181.0,160242.0,168298.0,150348.0,183294.0,135265.0,180555.0,106945.0,176836.0,224187.0,...,140764.0,207475.0,123454.0,109007.0,110119.0,133824.0,221499.0,159892.0,131717.0,NaN

In [22]:
atlantic_df = pd.DataFrame(nj_data["Atlantic County"])
atlantic_df.reset_index(inplace = True)
atlantic_df.columns = ["Date","Price"]
atlantic_df.head()

        Date     Price
0  1/31/1996  109980.0
1  2/29/1996  109678.0
2  3/31/1996  109483.0
3  4/30/1996  109162.0
4  5/31/1996  109007.0

In [31]:
# atlantic_df['Date'] = pd.to_datetime(atlantic_df['Date'], format='%m/%d/%Y')
atlantic_df['year'] = pd.DatetimeIndex(atlantic_df['Date']).year

atlantic_df.head()

        Date     Price  year
0 1996-01-31  109980.0  1996
1 1996-02-29  109678.0  1996
2 1996-03-31  109483.0  1996
3 1996-04-30  109162.0  1996
4 1996-05-31  109007.0  1996

In [40]:
atl_grouped = atlantic_df.groupby(atlantic_df['year'],as_index=False).mean()
atl_grouped.round(2)
atl_grouped['County']="Atlantic"
atl_grouped.head()

   year          Price    County
0  1996  108995.083333  Atlantic
1  1997  111600.333333  Atlantic
2  1998  115382.333333  Atlantic
3  1999  120679.000000  Atlantic
4  2000  128581.333333  Atlantic

In [42]:
bergen_df = pd.DataFrame(nj_data["Bergen County"])
bergen_df.reset_index(inplace = True)
bergen_df.columns = ["Date","Price"]
bergen_df['year'] = pd.DatetimeIndex(bergen_df['Date']).year
ber_grouped = atlantic_df.groupby(bergen_df['year'],as_index=False).mean()
ber_grouped.round(2)
ber_grouped['County']="Bergen"
ber_grouped.head()

           Price  year  County
0  108995.083333  1996  Bergen
1  111600.333333  1997  Bergen
2  115382.333333  1998  Bergen
3  120679.000000  1999  Bergen
4  128581.333333  2000  Bergen

In [45]:
camden_df = nj_data["Camden County"]
camden_df = pd.DataFrame(nj_data["Camden County"])
camden_df.reset_index(inplace = True)
camden_df.columns = ["Date","Price"]
camden_df['year'] = pd.DatetimeIndex(bergen_df['Date']).year
cam_grouped = atlantic_df.groupby(camden_df['year'],as_index=False).mean()
cam_grouped.round(2)
cam_grouped['County']="Camden"
cam_grouped.head()

           Price  year  County
0  108995.083333  1996  Camden
1  111600.333333  1997  Camden
2  115382.333333  1998  Camden
3  120679.000000  1999  Camden
4  128581.333333  2000  Camden

In [52]:
df1 = pd.concat([atl_grouped,ber_grouped,cam_grouped],ignore_index = True)

In [53]:
df1.head(-20)

    year          Price    County
0   1996  108995.083333  Atlantic
1   1997  111600.333333  Atlantic
2   1998  115382.333333  Atlantic
3   1999  120679.000000  Atlantic
4   2000  128581.333333  Atlantic
5   2001  137365.916667  Atlantic
6   2002  151304.166667  Atlantic
7   2003  176166.750000  Atlantic
8   2004  209567.750000  Atlantic
9   2005  252320.000000  Atlantic
10  2006  290632.750000  Atlantic
11  2007  291331.666667  Atlantic
12  2008  267769.833333  Atlantic
13  2009  233581.916667  Atlantic
14  2010  221230.750000  Atlantic
15  2011  205974.833333  Atlantic
16  2012  194958.583333  Atlantic
17  2013  191150.750000  Atlantic
18  2014  194470.000000  Atlantic
19  2015  186052.250000  Atlantic
20  2016  175862.000000  Atlantic
21  2017  176391.250000  Atlantic
22  2018  185926.083333  Atlantic
23  2019  196067.416667  Atlantic
24  2020  209139.500000  Atlantic
25  2021  229061.000000  Atlantic
26  1996  108995.083333    Bergen
27  1997  111600.333333    Bergen
28  1998  115382.333333    Bergen
29  1999  120679.000000    Bergen
30  2000  128581.333333    Bergen
31  2001  137365.916667    Bergen
32  2002  151304.166667    Bergen
33  2003  176166.750000    Bergen
34  2004  209567.750000    Bergen
35  2005  252320.000000    Bergen
36  2006  290632.750000    Bergen
37  2007  291331.666667    Bergen
38  2008  267769.833333    Bergen
39  2009  233581.916667    Bergen
40  2010  221230.750000    Bergen
41  2011  205974.833333    Bergen
42  2012  194958.583333    Bergen
43  2013  191150.750000    Bergen
44  2014  194470.000000    Bergen
45  2015  186052.250000    Bergen
46  2016  175862.000000    Bergen
47  2017  176391.250000    Bergen
48  2018  185926.083333    Bergen
49  2019  196067.416667    Bergen
50  2020  209139.500000    Bergen
51  2021  229061.000000    Bergen
52  1996  108995.083333    Camden
53  1997  111600.333333    Camden
54  1998  115382.333333    Camden
55  1999  120679.000000    Camden
56  2000  128581.333333    Camden
57  2001  137365.916667    Camden