In [8]:
import joblib
rfm_model = joblib.load("../Models/NJ_rfm.sav")
lr_model = joblib.load("../Models/NJ_lin_reg.sav")

In [3]:
from tensorflow.keras.models import load_model
nj_deep_model = load_model("../Models/NJ_deep_learning.h5")

In [1]:
import pandas as pd
import numpy as np

In [2]:
#  import csv
df = pd.read_csv('../Resources/final_data.csv')
df.head(-1)

,county,year,violent_crime,murder,rape,robbery,aggravated_assault,property_crime,burglary,larceny_theft,...,frm_15,points_15,median_hh_income,median_hh_inc_moe,poverty_count,poverty_count_moe,poverty_rate,poverty_rate_moe,county_fips,price
0,Atlantic,2019,0,0,0,0,0,0,0,0,...,3.391731,0.475000,62678,2822,29057,4251,1.6,11.3,1,196067.42
1,Bergen,2019,2,0,2,0,0,46,2,44,...,3.391731,0.475000,107971,3025,52980,7662,0.8,5.7,3,494018.42
2,Burlington,2019,0,0,0,0,0,0,0,0,...,3.391731,0.475000,88443,3233,24961,4374,1.0,5.7,5,238593.67
3,Camden,2019,2,0,0,0,2,44,4,38,...,3.391731,0.475000,73168,2374,53641,7048,1.4,10.7,7,181980.75
4,Cape May,2019,0,0,0,0,0,0,0,0,...,3.391731,0.475000,66565,4753,8853,1981,2.2,9.8,9,389294.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,Ocean,2012,0,0,0,0,0,0,0,0,...,2.934423,0.684615,59022,2038,62772,6293,1.1,11.0,29,249704.83
163,Salem,2012,3,0,0,0,3,0,0,0,...,2.934423,0.684615,57939,3450,7235,1231,1.9,11.2,33,NaN
164,Somerset,2012,5,0,0,0,5,0,0,0,...,2.934423,0.684615,95574,4170,19644,2842,0.9,6.1,35,372094.17
165,Sussex,2012,0,0,0,0,0,0,0,0,...,2.934423,0.684615,85036,3836,9018,1568,1.1,6.2,37,214701.67
166,Union,2012,0,0,0,0,0,0,0,0,...,2.934423,0.684615,64698,3254,58609,5916,1.1,10.9,39,310472.92

In [6]:
print(df['county'].unique())
print(df['county_fips'].unique())

['Atlantic' 'Bergen' 'Burlington' 'Camden' 'Cape May' 'Cumberland' 'Essex'
 'Gloucester' 'Hudson' 'Hunterdon' 'Mercer' 'Middlesex' 'Monmouth'
 'Morris' 'Ocean' 'Passaic' 'Salem' 'Somerset' 'Sussex' 'Union' 'Warren']
[ 1  3  5  7  9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41]

In [71]:
df.dtypes

county                  object
year                     int64
violent_crime            int64
murder                   int64
rape                     int64
robbery                  int64
aggravated_assault       int64
property_crime           int64
burglary                 int64
larceny_theft            int64
motor_vehicle_theft      int64
arson                    int64
frm_30                 float64
points_30              float64
frm_15                 float64
points_15              float64
median_hh_income         int64
median_hh_inc_moe        int64
poverty_count            int64
poverty_count_moe        int64
poverty_rate           float64
poverty_rate_moe       float64
county_fips              int64
price                  float64
dtype: object

In [87]:
df[df['county_fips']==39]

,county,year,violent_crime,murder,rape,robbery,aggravated_assault,property_crime,burglary,larceny_theft,...,frm_15,points_15,median_hh_income,median_hh_inc_moe,poverty_count,poverty_count_moe,poverty_rate,poverty_rate_moe,county_fips,price
19,Union,2019,0,0,0,0,0,0,0,0,...,3.391731,0.475000,79953,3459,50094,6908,1.3,9.1,39,387667.08
40,Union,2018,0,0,0,0,0,0,0,0,...,4.000192,0.450000,80737,3457,43279,6953,1.3,7.8,39,378825.50
61,Union,2017,0,0,0,0,0,0,0,0,...,3.272500,0.490385,76830,2421,52052,7398,1.3,9.3,39,359634.33
82,Union,2016,0,0,0,0,0,0,0,0,...,2.930769,0.492308,71801,2384,58425,6643,1.2,10.6,39,339373.58
103,Union,2015,0,0,0,0,0,0,0,0,...,3.087500,0.576923,70581,2488,58384,6510,1.2,10.6,39,333713.17
124,Union,2014,0,0,0,0,0,0,0,0,...,3.286038,0.571698,68172,3025,60679,6684,1.2,11.1,39,330659.83
145,Union,2013,0,0,0,0,0,0,0,0,...,3.100769,0.700000,64272,2596,61990,6558,1.2,11.5,39,315231.92
166,Union,2012,0,0,0,0,0,0,0,0,...,2.934423,0.684615,64698,3254,58609,5916,1.1,10.9,39,310472.92

# Linear regression model prediction

In [9]:
best_array = pd.DataFrame({'year':2050,'violent_crime':df['violent_crime'].min(), 'murder':df['murder'].min(), 'rape':df['rape'].min(),
            'robbery':df['robbery'].min(), 'aggravated_assault':df['aggravated_assault'].min(), 'property_crime': df['property_crime'].min(),
            'burglary':df['burglary'].min(), 'larceny_theft':df['larceny_theft'].min(), 'motor_vehicle_theft':df['motor_vehicle_theft'].min(),
            'arson':df['arson'].min(), 'frm_30':df['frm_30'].min(), 'points_30': df['points_30'].min(),
           'frm_15':df['frm_15'].min(), 'points_15':df['points_15'].min(), 'median_hh_income': df['median_hh_income'].max(),
            'median_hh_inc_moe': df['median_hh_inc_moe'].min(),               
           'poverty_count': df['poverty_count'].min(),'poverty_count_moe': df['poverty_count_moe'].min(), 'poverty_rate':df['poverty_rate'].min(),
            'poverty_rate_moe':df['poverty_rate_moe'].min(),'county_fips':39},[0])

In [10]:
b_predictions = lr_model.predict(best_array)
predictions

array([-64597.73816051])

In [90]:
worst_array = pd.DataFrame({'year':2025,'violent_crime':df['violent_crime'].max(), 'murder':df['murder'].max(), 'rape':df['rape'].max(),
        'robbery':df['robbery'].max(), 'aggravated_assault':df['aggravated_assault'].max(), 'property_crime': df['property_crime'].max(),
        'burglary':df['burglary'].max(), 'larceny_theft':df['larceny_theft'].min(), 'motor_vehicle_theft':df['motor_vehicle_theft'].max(),
        'arson':df['arson'].max(), 'frm_30':df['frm_30'].max(), 'points_30': df['points_30'].max(),
        'frm_15':df['frm_15'].max(), 'points_15':df['points_15'].max(), 'median_hh_income': df['median_hh_income'].min(),
        'median_hh_inc_moe': df['median_hh_inc_moe'].min(),               
        'poverty_count': df['poverty_count'].max(),'poverty_count_moe': df['poverty_count_moe'].min(), 'poverty_rate':df['poverty_rate'].max(),
        'poverty_rate_moe':df['poverty_rate_moe'].min(),'county_fips':39},[0])

In [91]:
predictions = lr_model.predict(worst_array)
predictions

array([-2236196.87189743])

In [78]:
predictions[0]

-2236196.8718974255

In [34]:
# county_df = pd.unique(df[['county', 'county_fips']].values
county_df = df[['county', 'county_fips']].drop_duplicates()
county_df.head()

       county  county_fips
0    Atlantic            1
1      Bergen            3
2  Burlington            5
3      Camden            7
4    Cape May            9

In [36]:
county_df

        county  county_fips
0     Atlantic            1
1       Bergen            3
2   Burlington            5
3       Camden            7
4     Cape May            9
5   Cumberland           11
6        Essex           13
7   Gloucester           15
8       Hudson           17
9    Hunterdon           19
10      Mercer           21
11   Middlesex           23
12    Monmouth           25
13      Morris           27
14       Ocean           29
15     Passaic           31
16       Salem           33
17    Somerset           35
18      Sussex           37
19       Union           39
20      Warren           41

In [30]:
county_list

['Atlantic',
 'Bergen',
 'Burlington',
 'Camden',
 'Cape May',
 'Cumberland',
 'Essex',
 'Gloucester',
 'Hudson',
 'Hunterdon',
 'Mercer',
 'Middlesex',
 'Monmouth',
 'Morris',
 'Ocean',
 'Passaic',
 'Salem',
 'Somerset',
 'Sussex',
 'Union',
 'Warren']

In [15]:
county_fips_list = df['county_fips'].unique().tolist()
year_list = [2021,2022,2023,2024,2025]

In [25]:
county_fips = []
year = []
best_prediction = []
worst_prediction = []

In [26]:
for i in range(len(county_fips_list)):
    for j in range(len(year_list)):
        best_array = pd.DataFrame({'year':year_list[j],'violent_crime':df['violent_crime'].min(), 'murder':df['murder'].min(), 'rape':df['rape'].min(),
            'robbery':df['robbery'].min(), 'aggravated_assault':df['aggravated_assault'].min(), 'property_crime': df['property_crime'].min(),
            'burglary':df['burglary'].min(), 'larceny_theft':df['larceny_theft'].min(), 'motor_vehicle_theft':df['motor_vehicle_theft'].min(),
            'arson':df['arson'].min(), 'frm_30':df['frm_30'].min(), 'points_30': df['points_30'].min(),
           'frm_15':df['frm_15'].min(), 'points_15':df['points_15'].min(), 'median_hh_income': df['median_hh_income'].max(),
            'median_hh_inc_moe': df['median_hh_inc_moe'].min(),               
           'poverty_count': df['poverty_count'].min(),'poverty_count_moe': df['poverty_count_moe'].min(), 'poverty_rate':df['poverty_rate'].min(),
            'poverty_rate_moe':df['poverty_rate_moe'].min(),'county_fips':county_fips_list[i]},[0])
        worst_array = pd.DataFrame({'year':year_list[j],'violent_crime':df['violent_crime'].max(), 'murder':df['murder'].max(), 'rape':df['rape'].max(),
        'robbery':df['robbery'].max(), 'aggravated_assault':df['aggravated_assault'].max(), 'property_crime': df['property_crime'].max(),
        'burglary':df['burglary'].max(), 'larceny_theft':df['larceny_theft'].min(), 'motor_vehicle_theft':df['motor_vehicle_theft'].max(),
        'arson':df['arson'].max(), 'frm_30':df['frm_30'].max(), 'points_30': df['points_30'].max(),
        'frm_15':df['frm_15'].max(), 'points_15':df['points_15'].max(), 'median_hh_income': df['median_hh_income'].min(),
        'median_hh_inc_moe': df['median_hh_inc_moe'].min(),               
        'poverty_count': df['poverty_count'].max(),'poverty_count_moe': df['poverty_count_moe'].min(), 'poverty_rate':df['poverty_rate'].max(),
        'poverty_rate_moe':df['poverty_rate_moe'].min(),'county_fips':county_fips_list[i]},[0])
        county_fips.append(county_fips_list[i])
        year.append(year_list[j])
        b_predictions = lr_model.predict(best_array)
        w_predictions = lr_model.predict(worst_array)
        best_prediction.append(b_predictions[0])
        worst_prediction.append(w_predictions[0])
prediction_df = pd.DataFrame({"county_fips": county_fips,
                             "year": year,
                             "best price": best_prediction,
                             "worst price": worst_prediction})

In [27]:
prediction_df.head()

   county_fips  year     best price   worst price
0            1  2021  352781.930300 -2.169020e+06
1            1  2022  338773.832779 -2.183028e+06
2            1  2023  324765.735258 -2.197036e+06
3            1  2024  310757.637737 -2.211044e+06
4            1  2025  296749.540216 -2.225052e+06

In [35]:
prediction_df = prediction_df.merge(county_df, on = 'county_fips', how = 'inner')
prediction_df.head()

   county_fips  year     best price   worst price    county
0            1  2021  352781.930300 -2.169020e+06  Atlantic
1            1  2022  338773.832779 -2.183028e+06  Atlantic
2            1  2023  324765.735258 -2.197036e+06  Atlantic
3            1  2024  310757.637737 -2.211044e+06  Atlantic
4            1  2025  296749.540216 -2.225052e+06  Atlantic

# Random forest regression prediction

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
le = LabelEncoder()
df['county_label'] = le.fit_transform(df['county'])

In [13]:
df_filtered = df[df['county']=="Atlantic"]

In [5]:
county_label = df['county_label'][df['county']=="Atlantic"].unique()[0]

In [6]:
county_label

0

In [41]:
rfreg__model = joblib.load('../Models/NJ_rfm_house_price.sav')

In [52]:
rf_best_array = pd.DataFrame({'county':0,'year':2014,'violent_crime':df_filtered['violent_crime'].min(), 'murder':df_filtered['murder'].min(), 'rape':df_filtered['rape'].min(),
            'robbery':df_filtered['robbery'].min(), 'aggravated_assault':df_filtered['aggravated_assault'].min(), 'property_crime': df_filtered['property_crime'].min(),
            'burglary':df_filtered['burglary'].min(), 'larceny_theft':df_filtered['larceny_theft'].min(), 'motor_vehicle_theft':df_filtered['motor_vehicle_theft'].min(),
            'arson':df_filtered['arson'].min(), 'frm_30':df_filtered['frm_30'].min(), 'points_30': df_filtered['points_30'].min(),
           'frm_15':df_filtered['frm_15'].min(), 'points_15':df_filtered['points_15'].min(), 'median_hh_income': df_filtered['median_hh_income'].max(),
            'median_hh_inc_moe': df_filtered['median_hh_inc_moe'].min(),               
           'poverty_count': df_filtered['poverty_count'].min(),'poverty_count_moe': df_filtered['poverty_count_moe'].min(), 'poverty_rate':df_filtered['poverty_rate'].min(),
            'poverty_rate_moe':df_filtered['poverty_rate_moe'].min()},[0])

In [53]:
predictions = rfreg__model.predict(rf_best_array)
predictions[0]

206483.24699999994

In [50]:
rf_best_array = pd.DataFrame({'county':0,'year':2025,'violent_crime':df['violent_crime'].min(), 'murder':df['murder'].min(), 'rape':df['rape'].min(),
            'robbery':df['robbery'].min(), 'aggravated_assault':df['aggravated_assault'].min(), 'property_crime': df['property_crime'].min(),
            'burglary':df['burglary'].min(), 'larceny_theft':df['larceny_theft'].min(), 'motor_vehicle_theft':df['motor_vehicle_theft'].min(),
            'arson':df['arson'].min(), 'frm_30':df['frm_30'].min(), 'points_30': df['points_30'].min(),
           'frm_15':df['frm_15'].min(), 'points_15':df['points_15'].min(), 'median_hh_income': df['median_hh_income'].max(),
            'median_hh_inc_moe': df['median_hh_inc_moe'].min(),               
           'poverty_count': df['poverty_count'].min(),'poverty_count_moe': df['poverty_count_moe'].min(), 'poverty_rate':df['poverty_rate'].min(),
            'poverty_rate_moe':df['poverty_rate_moe'].min()},[0])

In [51]:
predictions2 = rfreg__model.predict(rf_best_array)
predictions2[0]

408771.35690000065

In [55]:
predictions2 > predictions

array([ True])

# Random forest model prediction

In [ ]:
# Index(['year', 'violent_crime', 'murder', 'rape', 'robbery',
#        'aggravated_assault', 'property_crime', 'burglary', 'larceny_theft',
#        'motor_vehicle_theft', 'arson', 'frm_30', 'points_30', 'frm_15',
#        'points_15', 'median_hh_income', 'median_hh_inc_moe', 'poverty_count',
#        'poverty_count_moe', 'poverty_rate', 'poverty_rate_moe', 'price'],
#       dtype='object')

In [156]:
rfm_test_array = pd.DataFrame({'year':df['year'].max(),'violent_crime':df['violent_crime'].min(), 'murder':df['murder'].min(),
            'rape':df['rape'].min(),'robbery':df['robbery'].min(), 'aggravated_assault':df['aggravated_assault'].min(),
            'property_crime': df['property_crime'].min(),'burglary':df['burglary'].min(), 
            'larceny_theft':df['larceny_theft'].mean(),'motor_vehicle_theft':df['motor_vehicle_theft'].min(),
            'arson':df['arson'].min(), 
            'frm_30':df['frm_30'].min(), 'points_30': df['points_30'].min(),
            'frm_15':df['frm_15'].min(), 'points_15':df['points_15'].min(), 
            'median_hh_income': 80000, 'median_hh_inc_moe': df['median_hh_inc_moe'].mean(), 
            'poverty_count': df['poverty_count'].min(), 'poverty_count_moe': df['poverty_count_moe'].mean(), 
            'poverty_rate':df['poverty_rate'].mean(), 'poverty_rate_moe':df['poverty_rate_moe'].mean(),'price':300000},[0])

In [157]:
predictions = rfm_model.predict(rfm_test_array)
predictions

array(['Mercer'], dtype=object)

# Deep learning prediction

In [163]:
from sklearn.preprocessing import LabelEncoder

In [167]:
X_scaler = MinMaxScaler().fit(X_train)
label_encoder = LabelEncoder()
label_encoder.fit(y_train)

LabelEncoder()

In [201]:
deep_test_array = pd.DataFrame({'year':df['year'].max(),'violent_crime':df['violent_crime'].min(), 'murder':df['murder'].min(),
            'rape':df['rape'].min(),'robbery':df['robbery'].min(), 'aggravated_assault':df['aggravated_assault'].min(),
            'property_crime': df['property_crime'].min(),'burglary':df['burglary'].min(), 
            'larceny_theft':df['larceny_theft'].mean(),'motor_vehicle_theft':df['motor_vehicle_theft'].min(),
            'arson':df['arson'].min(), 
            'frm_30':df['frm_30'].min(), 'points_30': df['points_30'].min(),
            'frm_15':df['frm_15'].min(), 'points_15':df['points_15'].min(), 
            'median_hh_income': 40000, 'median_hh_inc_moe': df['median_hh_inc_moe'].mean(), 
            'poverty_count': df['poverty_count'].min(), 'poverty_count_moe': df['poverty_count_moe'].mean(), 
            'poverty_rate':df['poverty_rate'].mean(), 'poverty_rate_moe':df['poverty_rate_moe'].mean(),'price':250000},[0])

In [202]:
deep_test_array_scaled = X_scaler.transform(deep_test_array)

In [203]:
prediction = np.argmax(nj_deep_model.predict(deep_test_array_scaled), axis = -1)
predicted_labels = label_encoder.inverse_transform(prediction)
print(f"Predicted Labels: {predicted_labels}")

Predicted Labels: ['Atlantic']